<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#2C0073">
    @if (ViewBag.Title != null)
    {
        <title>@ViewBag.Title - Tamagotchi</title>
    }
    else
    {
        <title>Tamagotchi</title>
    }
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/stylish-portfolio.css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="shortcut icon" href="/favicon.ico?v=2" />

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>
    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                @Html.ActionLink("Home", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("About", "About", "Home")
            </li>
            <li>
                @Html.ActionLink("Tamagotchi overview", "Index", "Tamagotchi")
            </li>
        </ul>
    </nav>

    @RenderBody()

    <footer class="footer">
        <p>&copy; @DateTime.Now.Year - Made by @Html.ActionLink("Tom van Nimwegen", "About", "Home")</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerycountdown")
    @Scripts.Render("~/bundles/jquerycookie")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/clientdatetime")
    @RenderSection("scripts", required: false)

    <!-- Custom Theme JavaScript -->
    <script>
        // Closes the sidebar menu
        $("#menu-close").click(function (e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });

        // Opens the sidebar menu
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });

        // Scrolls to the selected menu item on the page
        $(function () {
            $('a[href*=#]:not([href=#])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });

        if ($('#clock').attr('data-countdownto') != undefined) {

            $('#clock').countdown($('#clock').attr('data-countdownto'))
                .on('update.countdown', function (event) {

                    var format = '%-S second%!S';

                    if (event.offset.minutes > 0)
                        format = '%-M minute%!M %-S second%!S';

                    if (event.offset.hours > 0)
                        format = '%-H hour%!H %-M minute%!M %-S second%!S';

                    $(this).html(event.strftime(format));
                })
                .on('finish.countdown', function (event) {
                    $(this).html(event.strftime('Refresh the page to perform actions'));
                });
        }
    </script>
</body>
</html>
