@model Tamagotchi.Web.Models.TamagotchiOverviewModel

@{
    ViewBag.Title = "Overview";
}

@{
    Html.RenderPartial("PageHeader");
}

<section class="overview">
    <div class="container">

        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">Overview</li>
        </ol>

        <div class="page-header">
            <h2>Tamagotchi overview</h2>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <p>Some text explaining what these are.</p>
            </div>

            <div class="list-group">
                @foreach (var item in Model.Tamagotchis)
                {
                    <a class="list-group-item" href="@Url.Action("Show", "Tamagotchi", new { id = item.ID })">
                        <span class="badge">@(item.Status)</span>
                        <strong>@(item.Name)</strong>
                    </a>
                }
            </div>
        </div>
        <nav>
            @if (Model.MaxPage > 1)
            {
                <ul class="pagination">
                    @if (Model.HasPrevPage)
                    {
                        <li>
                            <a href="@Url.Action("Index", new { page = Model.PrevPage })" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    }
                    @foreach (var p in Model.Pages)
                    {
                        if (Model.Page != (p - 1))
                        {
                            <li>@Html.ActionLink(p.ToString(), actionName: "Index", routeValues: new { page = p - 1 })</li>
                        }
                        else
                        {
                            <li class="active">@Html.ActionLink(p.ToString(), actionName: "Index", routeValues: new { page = p - 1 })</li>
                        }
                    }
                    @if (Model.HasNextPage)
                    {
                        <li>
                            <a href="@Url.Action("Index", new { page = Model.NextPage})" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    }
                </ul>
            }

            <ul class="pager">
                <li class="previous"><a href="@(Url.Action("Index", "Home"))"><span aria-hidden="true">&larr;</span> Back to Home</a></li>
            </ul>
        </nav>
    </div>
</section>
