@model IEnumerable<Tamagotchi.Web.TamagotchiService.TamagotchiContract>

@{
    ViewBag.Title = "Overview";
}

@{
    Html.RenderPartial("PageHeader");
}

<section class="overview">
    <div class="container">

        <h2>Tamagotchi overview</h2>

        <div class="panel panel-default">
            <div class="panel-body">
                <p>Some text explaining what these are.</p>
            </div>

            <div class="list-group">
                @foreach (var item in Model)
                {
                    <a class="list-group-item" href="@Url.Action("Show", "Tamagotchi", new { id = item.ID })">
                        <span class="badge">@(item.Status)</span>
                        @(item.Name)
                    </a>
                }
            </div>
        </div>


        @*<table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Boredom)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Health)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hungriness)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sleepiness)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="@($"{item.Boredom}")" aria-valuemin="0" aria-valuemax="100"
                                     style="@($"width: {item.Boredom}%; min-width: 5em;")">
                                    @($"{item.Boredom} points")
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="@($"{item.Health}")" aria-valuemin="0" aria-valuemax="100"
                                     style="@($"width: {item.Health}%; min-width: 5em;")">
                                    @($"{item.Health} points")
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="@($"{item.Hungriness}")" aria-valuemin="0" aria-valuemax="100"
                                     style="@($"width: {item.Hungriness}%; min-width: 5em;")">
                                    @($"{item.Hungriness} points")
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="@($"{item.Sleepiness}")" aria-valuemin="0" aria-valuemax="100"
                                     style="@($"width: {item.Sleepiness}%; min-width: 5em;")">
                                    @($"{item.Sleepiness} points")
                                </div>
                            </div>
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Show", new { id = item.ID })
                        </td>
                    </tr>
                }

            </table>*@
    </div>
</section>
